body {
    margin: 30px 0 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 5px 15px;
    gap: 90px;
    position: relative;
}


.card {
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    background-color: white;
    text-align: center;
}

.body-card {
    padding: 10px 15px;
}


#todo-title {
    text-align: center;
}

article{
    width: 30%;
    text-align: center;
    margin: auto;
}